@import 'variables';

:host {
  display: flex;
  width: $width-aside;
  height: 100%;
  position: fixed;

  aside {
    display: flex;
    background: $color-background-dark;

    nav {
      display: flex;
      flex-flow: column;
      padding: 1rem;
      border-right: 2px solid $color-border;
    }
  }
}
