<aside>
  <nav>
    <div class="first-level">
      <app-icon-link icon="angular" name="Angular"></app-icon-link>
      <app-icon-link icon="ngrx" name="NgRx"></app-icon-link>
      <app-icon-link icon="rxjs" name="RxJS"></app-icon-link>
      <app-icon-link icon="jasmine" name="Jasmine"></app-icon-link>
      <app-icon-link icon="cypress" name="Cypress"></app-icon-link>
      <app-icon-link icon="react" name="React"></app-icon-link>
      <app-icon-link icon="nodejs" name="NodeJS"></app-icon-link>
      <app-icon-link icon="mongodb" name="MongoDB"></app-icon-link>
    </div>

    <div class="second-level">
        <ul>
          @for(element of uiElements(); track element.id) {
            <li><a [routerLink]="baseUrl()" [fragment]="element.id">{{ element.text }}</a></li>
          }
        </ul>
    </div>
  </nav>
</aside>
