<footer>
  <section class="author">
    <img src="/assets/img/face.jpg" alt="avatar" class="img">

    <div class="text">
      <p class="name">Kamil Chmielowski</p>

      <p>Web / Angular developer</p>
    </div>
  </section>

  <section class="contact">
    <p>
      <svg-icon name="phone"></svg-icon>
      <span>48 459 413 344</span>
    </p>

    <p>
      <svg-icon name="email"></svg-icon>
      <span>kamilchmielowski94&#64;gmail.com</span>
    </p>

    <p>
      <svg-icon name="website"></svg-icon>
      <a href="https://kamilchmielowski-dev.web.app/" class="default">Check my portfolio</a>
    </p>
  </section>
</footer>
