@import 'mixins';
@import 'scrollbar';
@import 'variables';

body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  background-color: $color-background;
  color: $color-text;
  font-family: system-ui;
}

p {
  font-size: 1.2rem;
}

a, button {
  cursor: pointer;
  transition: $transition-hover;
  color: $color-text;
  outline: none;
  text-decoration: none;

  &:hover, &:focus {
    color: $color-hover;

    svg-icon {
      svg {
        fill: $color-hover;
      }
    }
  }
}

svg-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  @include size(3.5rem);

  svg {
    @include size(100%);
    transition: $transition-hover;
    fill: $color-active;

    g {
      transition: $transition-hover;
    }
  }
}

app-ngrx {
  pre {
    .hljs {
      border: none;
      transition: border ease 1s;

      &.hljs-line-numbers {
        padding: 0;
      }
    }

    .hljs-ln {
      tr {
        &:first-child td {
          padding-top: 10px !important;
        }

        &:last-child td {
          padding-bottom: 10px !important;
        }
      }
    }

    table, tbody, tr, td {
      background: inherit;
    }

    table {
      border-collapse: separate;
      border-spacing: 0;
      background: inherit;
    }

    td {
      &.hljs-ln-numbers {
        position: sticky;
        left: 0;
        user-select: none;
        text-align: center;
        color: #cccccc6b;
        border-right: 1px solid #cccccc1c;
        vertical-align: top;
        padding-right: 10px !important;
        padding-left: 10px !important;
      }

      &.hljs-ln-code {
        padding-left: 10px !important;
      }
    }
  }
}
