@import 'mixins';
@import 'scrollbar';
@import 'variables';

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  background-color: $color-background;
  color: $color-text;
  font-family: system-ui;
}

h2, h3 {
  margin-top: 3rem;
}

p {
  font-size: 1.1rem;
  margin: 2rem 0 1.2rem;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

@mixin button-hover {
  &:hover, &:focus {
    color: $color-hover;

    svg-icon {
      svg {
        fill: $color-hover;
      }
    }
  }
}

a, button {
  cursor: pointer;
  transition: $transition-hover;
  color: $color-text;
  outline: none;
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 0;

  @include button-hover();
}

button.icon-btn {
  background-color: transparent;
  border: none;

  svg-icon {
    width: 2rem;
    height: 2rem;

    svg {
      fill: $color-text;
    }
  }

  @include button-hover();
}

svg-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  @include size(3rem);

  svg {
    @include size(100%);
    transition: $transition-hover;
    fill: $color-text;

    g {
      transition: $transition-hover;
    }
  }
}

app-page {
  pre {
    .hljs {
      border: none;
      transition: border ease 1s;

      &.hljs-line-numbers {
        padding: 0;
      }
    }

    .hljs-ln {
      tr {
        &:first-child td {
          padding-top: 10px !important;
        }

        &:last-child td {
          padding-bottom: 10px !important;
        }
      }
    }

    table, tbody, tr, td {
      background: inherit;
    }

    table {
      border-collapse: separate;
      border-spacing: 0;
      background: inherit;
    }

    td {
      &.hljs-ln-numbers {
        position: sticky;
        left: 0;
        user-select: none;
        text-align: center;
        color: #cccccc6b;
        border-right: 1px solid #cccccc1c;
        vertical-align: top;
        padding-right: 10px !important;
        padding-left: 10px !important;
      }

      &.hljs-ln-code {
        padding-left: 10px !important;
      }
    }
  }
}

#snackbar {
  $bottom: 1rem;

  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: $color-background-dark;
  border: 1px solid $color-border;
  color: $color-text;
  text-align: center;
  padding: 0.5rem 1rem;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: $bottom;

  &.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
    animation: fadein 0.5s, fadeout 0.5s 1.5s;
  }

  @-webkit-keyframes fadein {
    from { bottom: 0; opacity: 0; }
    to { bottom: $bottom; opacity: 1; }
  }

  @keyframes fadein {
    from { bottom: 0; opacity: 0; }
    to { bottom: $bottom; opacity: 1; }
  }

  @-webkit-keyframes fadeout {
    from { bottom: $bottom; opacity: 1; }
    to { bottom: 0; opacity: 0; }
  }

  @keyframes fadeout {
    from { bottom: $bottom; opacity: 1; }
    to { bottom: 0; opacity: 0; }
  }
}
