$color-active: #fff;
$color-background: #282234;
$color-background-dark: #17131e;
$color-border: #ffffff33;
$color-text: #a5b3ce;
$color-hover: #629feb;
$color-section: #293751;

$transition-hover: 200ms cubic-bezier(0.79, 0, 0.22, 1);
$transition-theme: 600ms cubic-bezier(0.79, 0, 0.22, 1);

$width-scroll-bar: 10px;
