@import 'mixins';
@import 'variables';

:host {
  display: flex;
  flex-flow: column;
  width: 100%;

  main {
    width: 62.5rem;
    margin: 2rem auto 4rem;
    padding-left: $width-aside;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    svg-icon {
      @include size(2.5rem);
    }
  }
}

:host-context(.homepage) {
  main {
    padding-left: 0;
    width: 100%;
  }
}
