@import 'mixins';
@import 'variables';

:host {
  position: relative;

  button, p {
    position: absolute;
    top: 0.3rem;
  }

  p {
    margin: 0;
    font-size: 1rem;
    height: 1.5rem;
    right: 2.4rem;
  }

  pre {
    display: flex;
    margin-top: 0;
    word-wrap: break-word;
    font-size: 1rem;
    margin-bottom: 2rem;
    @include box-shadow(0px 8px 12px 0px $color-box-shadow);

    code {
      flex: 1;
      line-height: 1.4;
      min-height: 100%;
      overflow-x: auto;
      overflow-y: unset;
      padding: 1rem !important;
    }
  }

  button {
    right: 0.3rem;

    &:hover, &:focus {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }

    svg-icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
