@import 'mixins';
@import 'variables';

:host {
  position: relative;

  p {
    margin: 0;
    font-size: 1rem;
    position: absolute;
    right: 1rem;
    top: 0.3rem;
  }

  pre {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    word-wrap: break-word;
    font-size: 1rem;
    @include box-shadow(0px 8px 12px 0px $color-box-shadow);

    code {
      flex: 1;
      line-height: 1.4;
      min-height: 100%;
      overflow-x: auto;
      overflow-y: unset;
      padding: 1rem !important;
    }
  }
}
